*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
    font-family: 'Radio Canada', sans-serif !important;
    font-weight: 300 !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll !important;
    overscroll-behavior: contain;
}

body {
    margin: 0;
    padding: 0 !important;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

.App {
    width: 100%;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
}

.main {
    margin: 50px auto;
    width: 50%;
    font-size: 1.1em;
}



.main.wide {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.adminPage {
    margin: 50px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#root ::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

#root ::-webkit-scrollbar
{
    width: 6px;
    max-width: 6px;
    max-height: 6px;
}

#root ::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px rgba(134, 134, 134, 0.5);
    background: transparent;
}

#root ::-webkit-scrollbar-thumb:hover
{
    -webkit-box-shadow: inset 0 0 10px rgba(134, 134, 134, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 350px;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.form > *{
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
}

.login, .register {
    padding: 25px;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    gap: 1rem;

}


.login button, .register button {
    background-color: transparent;
    border: 1px solid  rgba(169, 169, 169, 0.4);
}

.login input, .register input {
    color: rgba(255, 255, 255, 0.8);
}

.paraSelect {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    cursor: pointer;
    color: inherit;
    font-size: inherit !important;
    line-height: 1 !important;
}

button {
    font-size: 0.8em !important;
}

.title {
    margin-top: 1rem;
    padding: 0.5rem;
}

.MuiToggleButton-root {
    border: none !important;
}

.correct__overflow {
    overscroll-behavior: contain;
}

.MuiButtonBase-root {

}

@media screen and (max-width: 1000px) {
    .main {
        width: 95% !important;
    }
}

.link {
    color: #975ad4 !important;
}

.empty-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.not-found-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 50px);
}

.not-found-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
}