
.comment {
    display: flex;
    flex-direction: column;
}

.comment__body {
    display: flex;
    gap: 0.5rem;
}

.comment__body > div.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment__btns {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.comment__date {
    display: flex;
    justify-content: flex-end;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment__form {

}

div.rb_div{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.comments__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
