
.user__image {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
}

.account > div.top {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.account > div.top img.user__image {
    width: 256px;
    height: 256px;
    cursor: pointer;
}

.look-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}


.user__list {
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;
}
