[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
wwwroot/
project.lock.json
project.fragment.lock.json
artifacts/
ScaffoldingReadMe.txt
[Pp]ublish.xml
*.pubxml
*.publishproj
*.nupkg
*.snupkg
**/[Pp]ackages/*
#!**/[Pp]ackages/repositories.config
*.nuget.props
*.nuget.targets
nuget.config
ecf/
rcf/
*.[Cc]ache
!?*.[Cc]ache/
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
#*.snk
**/bin/**
**/obj/**
WebScheduler.DLL/bin/
WebScheduler.DLL/obj/
WebScheduler.DOM/bin/
WebScheduler.DOM/obj/
WebScheluder.DAL/bin/
WebScheluder.DAL/obj/
