.myButton{
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}