
.div {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    margin: 0.5rem 0;
}

.div > * {
    padding: 8px;
    margin: 0;
    max-height: 40px;
}

.div > button {
    min-width: fit-content;
}