
.div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.3rem;
    margin: 1rem 0;
}

.div > * {
    padding: 8px;
    margin: 0;
    max-height: 40px;
}

.div > button {
    white-space: nowrap;
}