
.navbar {
    position: fixed;
    min-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
.navbar > div {
    display: flex;
    gap: 1rem;
}

.navbar__links {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}

.navbar__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    cursor: pointer;
}