
.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: whitesmoke;
    box-sizing: border-box;
    margin: 0
}

.navbar__links {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}

.navbar__link {
    text-decoration: none;
    color: #975ad4;
}