
.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 30;
}

.myModalContent {
    padding: 15px;
    background: white;
    border: 1px dimgrey solid;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
}


.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px){
    .myModalContent {
        max-width: 90%;
    }
    .myModalContent > * {
        min-width: 200px !important;
    }
}